html, body {
  width: 100%;
  height: 100%;
  /*scrollbar-width: none;*/
}
/*
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}*/


body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
}
.progressive-root {
  height: 150vh;
  width: 100%;
  background: var(--bg-main);
  color: var(--text-main);
  overflow: hidden;
  
}

.progressive-layer {
  position: absolute;
  inset: 0;
  padding: 4.5rem 5%;
  box-sizing: border-box;
  transition: transform 0.06s linear, opacity 0.06s linear;
}

